        <div id="copyright">
            <ul>
                <li>&copy;2021.02.25<a href="" style="border-bottom: none;"></a></li>
                <li>Create By <a href="http://81.69.247.241" style="border-bottom: none;">qiu</a></li>
            </ul>
            <% if(theme.busuanzi.enable === true ) { %>
                <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
			<% } else { %>
				<span id="busuanzi_container_site_pv"> <%- date(Date.now(), 'YYYY') %> </span> 
			<% } %>
        </div>